<!DOCTYPE html>
<html lang="”en”">
  <head>
    
    <link rel="stylesheet" href="/css/mainStyles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans");
    </style>
    
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="panel">
            <div class="panel-heading">
              <div class="row">
                <div class="col col-sm-3 col-xs-12">
                  <h5 class="title">SriCity AQMS</h5>
                  <label for="station">Station:</label>
                  <select name="station" id="station">
                    <option value="s1">Station 1</option>
                    <option value="s2">Station 2</option>
                  </select>
                </div>
                <div class="col-sm-9 col-xs-12 text-right">
                  <div class="btn_group">
                    <div class="form-control">Last Update:<div id="update_time"></div></div>
                    <button class="btn btn-default" title="Reload">
                      <img src="/img/sync.png" height="20px" width="20px" />
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-body table-responsive" id="table">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Parameter</th>
                    <th>Range</th>
                    <th>Value</th>
                    <th>Units</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>CO</td>
                    <td>0 to 10</td>
                    <td id="co">22</td>
                    <td>mg/m3</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>NO2</td>
                    <td>0 to 80</td>
                    <td id="no2">26</td>
                    <td>ppm</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>O3</td>
                    <td>22 to 24</td>
                    <td id="o3">26</td>
                    <td>ppm</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>NO</td>
                    <td>-</td>
                    <td id="no">20</td>
                    <td>ppm</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>SO2</td>
                    <td>17 to 74</td>
                    <td id="so2">20</td>
                    <td>ppm</td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>PM 1</td>
                    <td>-</td>
                    <td id="pm1">20</td>
                    <td>ug/m3</td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td>PM 2.5</td>
                    <td>0 to 60</td>
                    <td id="pm25">20</td>
                    <td>ug/m3</td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>PM 10</td>
                    <td>0 to 100</td>
                    <td id="pm10">20</td>
                    <td>ug/m3</td>
                  </tr>
                  
                  <tr>
                    <td>9</td>
                    <td>Noise Average</td>
                    <td>Max 75</td>
                    <td id="noise_average">20</td>
                    <td>db</td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>UV</td>
                    <td>-</td>
                    <td id="uv">20</td>
                    <td>index</td>
                  </tr>
                  <tr>
                    <td>11</td>
                    <td>CO2</td>
                    <td>-</td>
                    <td id="co2">20</td>
                    <td>ppm</td>
                  </tr>
                
                  <tr>
                    <td>12</td>
                    <td>TAMPERING ALERT</td>
                    <td>-</td>
                    <td id="tampering_alert">20</td>
                    <td>unit</td>
                  </tr>
                  
                  <tr>
                    <td>13</td>
                    <td>h2s</td>
                    <td>-</td>
                    <td id="h2s">20</td>
                    <td>ppm</td>
                  </tr>
                  
                  <tr>
                    <td>14</td>
                    <td>WSPD</td>
                    <td>-</td>
                    <td id="wspd">20</td>
                    <td>kmph</td>
                  </tr>
                  <tr>
                    <td>15</td>
                    <td>WDIR</td>
                    <td>-</td>
                    <td id="wdir">20</td>
                    <td>deg</td>
                  </tr>
                  <tr>
                    <td>16</td>
                    <td>Rainfall</td>
                    <td>-</td>
                    <td id="rainfall">20</td>
                    <td>mm</td>
                  </tr>
                </tbody>
              </table>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    
    <script src="/js/socket.io.js"></script>
    <script src="/js/sockets.js"></script>
  </body>
</html>

