<!DOCTYPE html>
<html lang="”en”">
  <head>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.12.0.min.js"
    ></script>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />

    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/mainStyles.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans");
    </style>
    <script>
      $(document).ready(function () {
        console.log("hello");
        $(".counter-value").each(function () {
          $(this)
            .prop("Counter", 0)
            .animate(
              {
                Counter: $(this).text(),
              },
              {
                duration: 3500,
                easing: "swing",
                step: function (now) {
                  $(this).text(Math.ceil(now));
                },
              }
            );
        });
      });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="panel">
            <div class="panel-heading">
              <div class="row">
                <div class="col col-sm-3 col-xs-12">
                  <h5 class="title">SriCity AQMS</h5>
                  <label for="station">Station:</label>
                  <select name="station" id="station">
                    <option value="s1">Station 1</option>
                    <option value="s2">Station 2</option>
                  </select>
                </div>
                <div class="col-sm-9 col-xs-12 text-right">
                  <div class="btn_group">
                    <div class="form-control">Last Update:<div id="update_time"></div></div>
                    <button class="btn btn-default" title="Reload">
                      <img src="/img/sync.png" height="20px" width="20px" />
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-body table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Parameter</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>battery_level</td>
                    <td id="battery_level">31</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>co</td>
                    <td id="co">22</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>no2</td>
                    <td id="no2">26</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>o3</td>
                    <td id="o3">26</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>no</td>
                    <td id="no">20</td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>so2</td>
                    <td id="so2">20</td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td>pm1</td>
                    <td id="pm1">20</td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>pm25</td>
                    <td id="pm25">20</td>
                  </tr>
                  <tr>
                    <td>9</td>
                    <td>pm10</td>
                    <td id="pm10">20</td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>ambient_temperature</td>
                    <td id="ambient_temperature">20</td>
                  </tr>
                  <tr>
                    <td>11</td>
                    <td>humidity</td>
                    <td id="humidity">20</td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td>noise_average</td>
                    <td id="noise_average">20</td>
                  </tr>
                  <tr>
                    <td>13</td>
                    <td>min_noise_level</td>
                    <td id="min_noise_level">20</td>
                  </tr>
                  <tr>
                    <td>14</td>
                    <td>max_noise_level</td>
                    <td id="max_noise_level">20</td>
                  </tr>
                  <tr>
                    <td>15</td>
                    <td>visible_light</td>
                    <td id="visible_light">20</td>
                  </tr>
                  <tr>
                    <td>16</td>
                    <td>uv</td>
                    <td id="uv">20</td>
                  </tr>
                  <tr>
                    <td>17</td>
                    <td>co2</td>
                    <td id="co2">20</td>
                  </tr>
                  <tr>
                    <td>18</td>
                    <td>pressure</td>
                    <td id="pressure">20</td>
                  </tr>
                  <tr>
                    <td>19</td>
                    <td>tampering_alert</td>
                    <td id="tampering_alert">20</td>
                  </tr>
                  <tr>
                    <td>20</td>
                    <td>co_aux</td>
                    <td id="co_aux">20</td>
                  </tr>
                  <tr>
                    <td>21</td>
                    <td>co_we</td>
                    <td id="co_we">20</td>
                  </tr>
                  <tr>
                    <td>22</td>
                    <td>no2_aux</td>
                    <td id="no2_aux">20</td>
                  </tr>
                  <tr>
                    <td>23</td>
                    <td>no2_we</td>
                    <td id="no2_we">20</td>
                  </tr>
                  <tr>
                    <td>24</td>
                    <td>o3_aux</td>
                    <td id="o3_aux">20</td>
                  </tr>
                  <tr>
                    <td>25</td>
                    <td>o3_we</td>
                    <td id="o3_we">20</td>
                  </tr>
                  <tr>
                    <td>26</td>
                    <td>so2_aux</td>
                    <td id="so2_aux">20</td>
                  </tr>
                  <tr>
                    <td>27</td>
                    <td>so2_we</td>
                    <td id="so2_we">20</td>
                  </tr>
                  <tr>
                    <td>28</td>
                    <td>h2s</td>
                    <td id="h2s">20</td>
                  </tr>
                  <tr>
                    <td>29</td>
                    <td>h2s_we</td>
                    <td id="h2s_we">20</td>
                  </tr>
                   <tr>
                    <td>30</td>
                    <td>h2s_aux</td>
                    <td id="h2s_aux">20</td>
                  </tr>
                  <tr>
                    <td>31</td>
                    <td>wspd</td>
                    <td id="wspd">20</td>
                  </tr>
                  <tr>
                    <td>32</td>
                    <td>wdir</td>
                    <td id="wdir">20</td>
                  </tr>
                  <tr>
                    <td>33</td>
                    <td>air_temperature</td>
                    <td id="air_temperature">20</td>
                  </tr>
                </tbody>
              </table>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <script src="/js/socket.io.js"></script>
    <script src="/js/sockets.js"></script>
  </body>
</html>
